<!DOCTYPE html>
<html>
<%= javascript_include_tag "turbo", type: "module" %>
  <head>
    <title>Alpha Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'pages/navbar'%>
    <%= render 'layouts/messages'%>
    <%= yield %>
  </body>
</html>
